{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}Home{% endblock %}
{% block content %}
<body class="bg-gray-100 antialiased">
    <div class="container mx-auto min-h-screen w-screen flex flex-row" >   
        <div class="container mx-auto min-h-screen min-w-screen flex flex-col items-center" >
            <div class="flex">
                <div class="bg-navy shadow-2xl p-6 rounded-2xl border-2 border-gray-50" style="background-color: rgb(7, 7, 53);">
                    <div class="flex flex-col">
                        <div>
                            <h2 class="font-bold text-white text-center">Luch 12:00</h2>
                        </div>
                        <div class="my-6">
                            <div class="flex flex-row space-x-4 items-center">
                                <div id="icon">
                                    <span>
                                        <svg class="w-20 h-20 fill-stroke text-yellow-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z">
                                            </path>
                                        </svg>
                                    </span>
                                </div>
                                <div id="temp">
                                    
                                    <p class="text-xs text-white">Protein: </p>
                                    <p class="text-xs text-white">Carb: </p>
                                    <p class="text-xs text-white">Fiber: </p>
                                    <p class="text-xs text-white">Fat: </p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="flex ">
                <div class="bg-navy shadow-2xl p-6 rounded-2xl border-2 border-gray-50" style="background-color: rgb(7, 7, 53);">
                    <div class="flex flex-col">
                        <div>
                            <h2 class="font-bold text-white text-center">Luch 12:00</h2>
                        </div>
                        <div class="my-6">
                            <div class="flex flex-row space-x-4 items-center">
                                <div id="icon">
                                    <span>
                                        <svg class="w-20 h-20 fill-stroke text-yellow-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z">
                                            </path>
                                        </svg>
                                    </span>
                                </div>
                                <div id="temp">
                                    
                                    <p class="text-xs text-white">Protein: </p>
                                    <p class="text-xs text-white">Carb: </p>
                                    <p class="text-xs text-white">Fiber: </p>
                                    <p class="text-xs text-white">Fat: </p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</body>

{% endblock %}