{% extends "base.html" %}
{% block title %}Plans{% endblock %}
{% block head %}Plans{% endblock %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Meal</th>
            <th scope="col">Food</th>
            <th scope="col">calories</th>
            <th scope="col">Exercise</th>
        </tr>
    </thead>
    <tbody>
        {% for Diary in all_diaries %}
        <tr>
            <td>{{Diary.meal}}</td>
            <td>{{Diary.food}}</td>
            <td>{{Diary.calories}}</td>
            <td>{{Diary.exercise}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form class="row g-3" method="post" action="{% url 'plans' %}">
    {% csrf_token %}
    <label for="Meal" class="form-label">Meal</label>
    <select class="form-select" aria-label="Default select example" name="meal">
        <option selected>Options</option>
        <option value="Breakfast">Breakfast</option>
        <option value="Lunch">Lunch</option>
        <option value="Dinner">Dinner</option>
    </select>
    <div class="col-md-6 form-group">
        <label for="Food" class="form-label">Food</label>
        <input type="text" class="form-control" id="food" name="food">
    </div>
    <div class="col-md-6 form-group">
        <label for="inputPassword4" class="form-label">Calories</label>
        <input type="number" class="form-control" id="calories" name="calories">
    </div>
    <div class="col-12 form-group">
        <label for="inputAddress" class="form-label">Exercise</label>
        <input type="number" class="form-control" id="exercise" name="exercise" placeholder="(exercise calories)">
    </div>
    <div class="col-12">
        <input type="submit" class="btn btn-primary" value="Add">
    </div>
</form>

{% endblock %}